.send{
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: forestgreen;
    margin-top: 5px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 5px;
    z-index: 2;
    top: 0;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 0;
    outline: 0;
    color: #fff;
    transition: background-color .15s ease;
}

.modal{
    position: fixed;
    background: rgba(0,0,0,.2);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
}

.modal__block{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    margin: auto;
    width: 300px;
    background-color: #fff;
    padding: 20px;
    display: inline-block;
    height: 78px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.hidden{
    display: none!important;
}


.modal__block .send{
    top: 25px;
    left: auto;
    right: 25px;
    margin: auto;
    display: inline-block;
}

.send:hover{
    background-color: darkgreen;
}

#app{
    margin: auto;
    display: block;
}

#messages{
    max-width: 700px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 100px;
}

.msg{
    display: block;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #bbb;
}


body{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    font-family: 'Arial';
}

.msg__wrapper{
    color: lightslategray;
    position: relative;
}

.msg__time{
    position: absolute;
    right: 0;
    top: -5px;
    font-size: 12px;
}

.msg__msg{
    padding-left: 20px;
}


*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.input-wrapper{
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 80%;
    max-width: 700px;
    margin: auto;
}

.clients-counter{
    max-width: 700px;
    margin: auto;
    padding-bottom: 10px;
    background-color: forestgreen;
    padding-top: 10px;
    padding-left: 20px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.clients-counter__title{
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Arial';
    display: inline-block;
    color: #fff
}

.clients-counter__number{
    font-size: 14px;
    font-family: 'Arial';
    font-weight: bold;
    display: inline-block;
    color: #fff;
}

.users-wrapper{
    position: fixed;
    right: 20px;
    top: 20px;
}

.users-rules{
    position: fixed;
    left: 20px;
    top: 20px;
}

input{
    width: 100%;
    height: 38px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 70px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid #bbb;
    outline: 0;
}